## ???
- ??? 1:

# TODO
- TODO 1: requirements.txt erstellen und exportieren -> Ziel: Jemand soll den Code von GitHub runter laden sollen und das Projekt lokal zum laufen bringen k√∂nnen

<hr style="border:2px solid gray"> </hr> 

# 0 Installed and imported packages

In [19]:
# install  packages
# !conda install jupyter
# !conda install numpy
# !conda isntall pandas

# import packages
# !conda install jupyter
import numpy as np
import pandas as pd

# TODO 1

<hr style="border:2px solid gray"> </hr> 

# 1 Data Preparation

In [20]:
df = pd.read_csv("data/World-Stock-Prices-Dataset.csv")

In [21]:
df.head()

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits,Capital Gains
0,2024-08-16 00:00:00-04:00,3.220000,3.270000,3.105000,3.210000,12591101.0,peloton,PTON,fitness,usa,0.0,0.0,NaN
1,2024-08-16 00:00:00-04:00,211.119995,219.800003,210.800003,216.119995,88369547.0,tesla,TSLA,automotive,usa,0.0,0.0,NaN
2,2024-08-16 00:00:00-04:00,877.349976,877.349976,868.619995,870.590027,1451414.0,costco,COST,retail,usa,0.0,0.0,NaN
3,2024-08-16 00:00:00-04:00,177.110001,178.339996,176.260101,177.059998,31244026.0,amazon,AMZN,e-commerce,usa,0.0,0.0,NaN
4,2024-08-16 00:00:00-04:00,223.919998,226.827103,223.650101,226.050003,42366146.0,apple,AAPL,technology,usa,0.0,0.0,NaN

In [22]:
df.head()

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits,Capital Gains
0,2024-08-16 00:00:00-04:00,3.220000,3.270000,3.105000,3.210000,12591101.0,peloton,PTON,fitness,usa,0.0,0.0,NaN
1,2024-08-16 00:00:00-04:00,211.119995,219.800003,210.800003,216.119995,88369547.0,tesla,TSLA,automotive,usa,0.0,0.0,NaN
2,2024-08-16 00:00:00-04:00,877.349976,877.349976,868.619995,870.590027,1451414.0,costco,COST,retail,usa,0.0,0.0,NaN
3,2024-08-16 00:00:00-04:00,177.110001,178.339996,176.260101,177.059998,31244026.0,amazon,AMZN,e-commerce,usa,0.0,0.0,NaN
4,2024-08-16 00:00:00-04:00,223.919998,226.827103,223.650101,226.050003,42366146.0,apple,AAPL,technology,usa,0.0,0.0,NaN

## 1.1 Data Cleaning

## 1.2 Feature Engineering

<hr style="border:2px solid gray"> </hr> 

# 2 Analysis

## 2.1 AF: Which stocks or industries have shown the most consistent long-term growth?

## 2.1 AF: Which stocks or industries are the most volatile? What are the top 10 most volatile industries?

## 2.3 KG: How do stocks that regularly pay dividends perform compared to those that do not?

<hr style="border:2px solid gray"> </hr> 

# 3 Visualization

## 3.1 AF: Which stocks or industries have shown the most consistent long-term growth?

## 3.1 AF: Which stocks or industries are the most volatile? What are the top 10 most volatile industries?

## 3.3 KG: How do stocks that regularly pay dividends perform compared to those that do not?

<hr style="border:2px solid gray"> </hr> 

# 4. Interpretation

## 4.1 AF: Which stocks or industries have shown the most consistent long-term growth?

## 4.1 AF: Which stocks or industries are the most volatile? What are the top 10 most volatile industries?

## 4.3 KG: How do stocks that regularly pay dividends perform compared to those that do not?